<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理</title>
<link href="__PUBLIC__/ht/css/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/ht/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/ht/js/action.js"></script>
</head>
<body>
<div class="aaa_pts_show_1">【 会员问题管理 】</div>
<div class="aaa_pts_show_2">
    
    <div class="aaa_pts_3">
      <table class="pro_3">
         <tr class="tr_1">
            <td style="width:120px;">会员昵称</td>
            <td>会员问题</td>
            <td style="width:120px;">提问时间</td>
            <td style="width:120px;">问题状态</td>
            <td style="width:110px;">类型</td>
            <td style="width:120px;">置顶状态</td>
            <td style="width:180px;">操作</td>
         </tr>
         <tbody id="news_option">
           <!-- 遍历 -->
           <volist name="list" id="v">
             <tr>
              <td>{$v.uname}</td>
              <td>{$v.content}</td>
              <td>{$v.addtime}</td>
              <td><if condition="$v.nums gt 0"><label style="color:green;">已回复</label><else /><label style="color:red;">待回复</label></if></td>
              <td><if condition="$v.qtype eq 2"><label style="color:blue;">法语</label><else /><label style="color:green;">英语</label></if></td>
              <td><if condition="$v.is_top gt 0"><label style="color:green;">置顶中</label></if></td>
              <td class="obj_1">
                <a href="{:U('que_edit')}?id={$v.id}&page={$page}"><if condition="$v.is_top gt 0">取消置顶<else />置顶</if></a> | 
                <a onclick="del_id_urls({$v.id},{$page})">删除</a>
              </td>
             </tr>
           </volist>
           <!-- 遍历 -->
         </tbody>
         <tr>
            <td colspan="10" class="td_2">
              {$page_index}
            </td>
         </tr>
      </table>      
    </div>
    
</div>
<script>
//搜索的方法
function product_option(page){
  window.location.href='?page='+page+'&message='+$("#message").val()
}

function del_id_urls(id,page){
   if(confirm('你确定要删除吗？')){
    location.href='{:U("delque")}?did='+id+'&page='+page;
  }
}
</script>
</body>
</html>